version: "2"
services:
  app:
    container_name: nightscout
    restart: always
    build: .
    ports:
      - "1337:1337"
    depends_on:
      - mongo
    environment:
      - 'MONGO_CONNECTION=mongodb://mongo:27017/nightscoutdb?authSource=admin'
      - 'API_SECRET=defaultapisecret'
      - 'ENABLE=careportal iob cob basal'
  mongo:
    container_name: mongo
    image: mongo:4.2-bionic
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
